body {
  display: flex;
}
.sidebar {
  width: 15%;
  background-color: #ecedf5;
}
main {
  width: 85%;

  height: max-content;
  background-color: #f8f9fa;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.catalog__product {
  flex: 1 270px;
  max-width: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}
.nav {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
